#wrap{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50%;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	white-space: normal;
	color: white;
	font-size: 50px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	order: 1;
	z-index: 1;
	overflow: hidden;
}

#footersection{
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	height: 100px;
	white-space: normal;
	color: white;
	font-size: 50px;
	line-height: 200px;
	font-weight: bold;
	white-space: pre;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	overflow-y: hidden;
	margin-top: 300px;
}

#buttonsection{
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	text-align:left;
	color: white;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	order: 2;
	margin-top: 300px;
	
}

#searchsection{
	font-family: 'Josefin Sans', sans-serif;
	padding: 25px;
	text-align:center;
	order: 3;
}



.container{
	position: absolute;
	width: 100%;
	height: 200%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#bg {
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
	margin: 0px;
	padding: 0px;
}

#darken {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
}

body {
	width: 100%;
	background-color: black;
	padding: 0px;
	margin: 0px;
	z-index: 2;
}

#recommendation {
	position: relative;
	width: 100%;
	margin-top: 20%;
}

h2{
	position: absolute;
	top: 1700px;
	left: 0;
	width: 100%;
}

button{
	background-color: #659EC7;
	color: white;
	padding: 20px 48px;
	border-radius: 50%;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 250px;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
}

button:hover{
	background-color: white;
	color: black;
}

#search{
	width: 250px;
	padding: 7px;
	border: 1px solid #333;
	color: black;
	margin-left: 0px;
	cursor: pointer;
}

#search_results_container {
	background-color: #111111;
	width: 100%;
}

#search_results {
	height: 100%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #222222;
}

#list_item {
	height: 160px;
	width: 100%;
	border-bottom: 1px solid #333333;
	overflow: hidden;
	
	#item_left {
		margin: 5px;
		height: 150px;
		width: 150px;
		vertical-align: middle;
	}
	
	#item_right {
		margin: 20px;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 30px;
		color: white;
	}
}