

h1{
	background-image: url(beachweb.jpg);
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 50px;
	text-align: center;
}

*{
	background-color: black;
}

#list{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	text-align: left;
	color: white;
}

#links{
	text-align: center;
	position:fixed;
	bottom:0;
	width:100%;
}

a{
	color: white;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	
	margin-left: 15px;
	margin-right: 20px;
	
}
	
}
